// Cores
$white: hsl(0, 0%, 100%);
$lightGray: hsl(270, 3%, 87%);
$darkViolet: hsl(279, 6%, 55%);
$veryDarkViolet:  hsl(278, 68%, 11%);
$red: hsl(0, 100%, 66%);

// degrade
$blueViolet: hsl(278, 94%, 30%);
$slateBlue: hsl(249, 99%, 64%);

// Fontes
$space: 'Space Grotesk', sans-serif;

// Tamanho das Fontes
$fontSize: 1.125rem;