@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");
.card__section {
  background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 68%, 11%), hsl(278, 94%, 30%), hsl(278, 68%, 11%));
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 3rem 1rem;
  margin-bottom: 7rem;
  position: relative;
}
.card__section .front__card {
  background-image: url(../../img/bg-card-front.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 286px;
  padding: 20px;
  position: absolute;
  top: 51%;
}
.card__section .front__card .card__seal {
  background-image: url(../../img/card-logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 3.5rem;
  height: 2.125rem;
}
.card__section .front__card .card__number {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 2.5rem 0 0 0;
}
.card__section .front__card .card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.375rem;
}
.card__section .front__card .card__info .card__name, .card__section .front__card .card__info .card__date {
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0rem;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 375px) {
  .card__section .front__card .card__number {
    color: hsl(0, 0%, 100%);
    font-size: 1.5625rem;
    font-weight: 500;
    letter-spacing: 0rem;
  }
}
.card__section .back__card {
  background-image: url(../../img/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  width: 17.0506rem;
  height: 173px;
  position: relative;
}
.card__section .back__card .card__cvc {
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding-bottom: 0.1rem;
  position: absolute;
  right: 1.875rem;
}
@media screen and (min-width: 23.4375rem) {
  .card__section .back__card {
    width: 19.625rem;
    height: 11.5rem;
  }
  .card__section .back__card .card__cvc {
    right: 2.8125rem;
  }
}

.form__section {
  padding: 0 1rem;
}
.form__section .form__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form__section .form__container .form__field {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.form__section .form__container .form__label {
  color: hsl(278, 68%, 11%);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.form__section .form__container .form__control {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278, 68%, 11%);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: "";
  text-transform: "";
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 0.5rem;
  height: 2.8125rem;
  padding-left: 1rem;
}
.form__section .form__container .form__control::-moz-placeholder {
  color: hsl(279, 6%, 55%);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: "";
}
.form__section .form__container .form__control::placeholder {
  color: hsl(279, 6%, 55%);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: "";
}
.form__section .form__container .container__form__date {
  display: grid;
  grid-template-columns: 100 1fr;
  gap: 0.75rem;
}
.form__section .form__container .container__form__date .form__field__input {
  display: flex;
  gap: 0.75rem;
}
.form__section .form__container .container__form__date .form__field__input #exp__date {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .form__section .form__container .container__form__date {
    grid-template-columns: 1fr 1fr;
  }
}
.form__section .form__container .btn__form {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: "";
  text-transform: "";
  background-color: hsl(278, 68%, 11%);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 3.25rem;
}

html, body {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=base.css.map */