@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
@import './variaveis';
@import '../2-componentes/1-card__section';
@import '../2-componentes/2-form__section';

html, body {
    font-family: $space;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (min-width: 992px) {
    main {
        display: flex;

        margin: 0 auto;
    
        width: 80%;
        height: 100vh;
    }
}